@page "/treballadors"
@inject IRepositori repositori

<h3>Treballadors</h3>

<small>Pàgina per veure els treballadors</small>

<br>
@if (treballadors == null)
{
    <text>Carregant...</text>
}
else if (treballadors.Count == 0)
{
    <text>No Records Found.</text>
}
else
{
    <SfGrid DataSource="@treballadors" 
            ShowColumnChooser="true" Toolbar=@ToolbarItems
            AllowPaging="true" 
            AllowSorting="true"
            AllowFiltering="true"
            AllowGrouping="true"
            AllowResizing="true">
        <GridPageSettings PageSize="5"></GridPageSettings>
        <GridColumns>
            <GridColumn Field="@nameof(Treballador.Id)"
                        HeaderText="ID"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.Codi)"
                        HeaderText="Codi"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.Nom)"
                        HeaderText="Nom"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.PrimerCognom)"
                        HeaderText="1er Cognom"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.SegonCognom)"
                        HeaderText="2on Cognom"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.NIF)"
                        HeaderText="NIF"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.NSS)"
                        HeaderText="NSS"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.Adreça)"
                        HeaderText="Adreça"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.CP)"
                        HeaderText="CPostal"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.Poblacio)"
                        HeaderText="Població"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.Provincia)"
                        HeaderText="Provincia"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.Telefon1)"
                        HeaderText="Telefon 1"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.Telefon2)"
                        HeaderText="Telefon 2 "
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.Telefon3)"
                        HeaderText="Telefon 3"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.Mobil1)"
                        HeaderText="Mobil 1"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.Mobil2)"
                        HeaderText="Mobil 2"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.Mobil3)"
                        HeaderText="Mobil 3"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.Email1)"
                        HeaderText="Email 1"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.Email2)"
                        HeaderText="Email 2"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.Email3)"
                        HeaderText="Email 3"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.Centre)"
                        HeaderText="Centre"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.Departament)"
                        HeaderText="Dept."
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.DataAlta)"
                        HeaderText="Data Alta"
                        TextAlign="TextAlign.Center"
                        Format="d"
                        Type="ColumnType.Date"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.DataBaixa)"
                        HeaderText="Data Baixa"
                        TextAlign="TextAlign.Center"
                        Format="d"
                        Type="ColumnType.Date"
                        Width="120">
            </GridColumn>
            <GridColumn Field="@nameof(Treballador.Observacions)"
                        HeaderText="Observacions"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
            <GridColumn HeaderText="Crear Plantilla"
                        TextAlign="TextAlign.Center"
                        Width="120">
            </GridColumn>
        </GridColumns>
    </SfGrid>
}
@code {
    List<Treballador> treballadors { get; set; }
    public string[] ToolbarItems = new string[] { "ColumnChooser" };


    protected override async Task OnInitializedAsync()
    {
        await CarregarTreballadors();
    }

    private async Task CarregarTreballadors()
    {
        var responseHttp = await repositori.Get<List<Treballador>>("api/treballadors");
        if (!responseHttp.Error)
        {
            treballadors = responseHttp.Response;
        }
    }
}